.idea
.vs
.vscode
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.ide
*.sln.docstates

# static files
uploads
*.png
*.jpg
*.jpeg

playground
publish

.env

appsettings.json
appsettings.development.json
appsettings.Development.json

# SECRET
Keys
encrypt-secrets.bat