.idea
.vs
.vscode
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.ide
*.sln.docstates
.vs
# static files
uploads
*.png
*.jpg
*.jpeg

playground
publish

.env

appsettings.json
appsettings.*.json

# SECRET
Keys
encrypt-secrets.bat
.fake